<h1>All Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= link_to "#{question.title}", question_path(id: question.id)%></li>
  <% end %>
</ul>

<%= link_to "Ask a New Question", new_question_path %>
