.wrapper {
	margin: 5%;
}

.best-answer {
	// background-color: #DDDDDD;
	border: 3px solid #71BF5D;
}

ul.answers {
	list-style-type: none; 
	li {
		margin: 10px 10px 10px -10px;
		padding: 10px;
	}
}